.page-header__title-img, .socials__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

html {
  box-sizing: border-box;
  height: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  position: relative;
  min-width: 20rem;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  line-height: 1.5;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase; }

.wrapper {
  position: relative;
  display: table;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.6); }

.content {
  display: table-row;
  height: 100%; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

input,
textarea {
  border: none;
  outline: none; }

.visually-hidden {
  display: none; }

.action {
  padding-bottom: 3.125rem; }
  @media (min-width: 48rem) {
    .action {
      padding-bottom: 4.375rem; } }

div.action__title {
  padding-top: 1.25rem; }

.action__map {
  width: 100%;
  height: 21.875rem; }

.btn {
  display: block;
  width: 87.5%;
  max-width: 17.5rem;
  margin: 0 auto;
  padding: 1rem 0;
  font-size: 1.3125rem;
  line-height: 1.2;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background-color: #81b3d2; }
  @media (min-width: 48rem) {
    .btn {
      max-width: 28.75rem; } }

.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.1875rem 0;
  background-color: #fff; }
  @media (min-width: 48rem) {
    .page-footer {
      flex-direction: row;
      justify-content: space-around; } }

.page-footer__text {
  font-size: 1.3125rem;
  line-height: 1.2;
  font-weight: 700;
  text-align: center; }

.page-footer__copyright a {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.3125rem;
  font-size: 0; }

.page-footer__copyright-icon {
  width: 1.625rem;
  height: 2.125rem;
  fill: #000; }

.form__group {
  padding: 0 1.25rem 0.625rem;
  border-top: 0.0625rem solid #e5e5e5; }

.form__group--personal .form__input-wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: center; }

.form__group--personal .form__label {
  margin-right: 1.25rem; }

.form__group--personal .form__input-text {
  flex-grow: 1; }

.form__group-title {
  font-size: 1.125rem;
  line-height: 1.4;
  font-weight: 700;
  color: #000;
  text-align: center; }

.form__input-wrap {
  margin-bottom: 1.25rem; }

.form__input-text {
  padding: 1rem 0;
  padding-left: 1.25rem;
  font-size: 1.125rem;
  line-height: 1.4;
  font-weight: 700;
  color: #000;
  background-color: #f2f2f2;
  border: 0.25rem solid #f2f2f2; }
  .form__input-text::-webkit-input-placeholder {
    color: #000; }
  .form__input-text:-ms-input-placeholder {
    color: #000; }
  .form__input-text::placeholder {
    color: #000; }
  .form__input-text:hover {
    background-color: #e5e5e5;
    border-color: #e5e5e5; }
  .form__input-text:focus {
    background-color: #fff; }

.main-nav {
  position: relative;
  display: none; }
  .main-nav.active {
    display: block; }
  @media (min-width: 48rem) {
    .main-nav {
      display: flex;
      justify-content: space-between; } }

@media (min-width: 48rem) {
  .main-nav__list {
    display: flex;
    width: 40%; }
  .main-nav__item {
    width: 50%; } }

.main-nav__link {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.125rem;
  line-height: 2;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background-color: #81b3d2;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0.0625rem 0.0625rem 0 rgba(255, 255, 255, 0.3); }
  .main-nav__list:last-of-type .main-nav__item:last-of-type .main-nav__link {
    border: none;
    box-shadow: inset 0 -0.1875rem 0.625rem 0 rgba(0, 0, 0, 0.2); }
  @media (min-width: 48rem) {
    .main-nav__link {
      font-size: 0.875rem;
      line-height: 3;
      color: #000;
      background-color: #fff;
      border: none;
      box-shadow: none !important; } }

.page-header__top {
  position: relative;
  padding-bottom: 3.5rem;
  background-color: #fff; }
  @media (min-width: 48rem) {
    .page-header__top {
      padding: 0; } }

.page-header__logo,
.page-header__toggle-menu {
  font-size: 0; }

.page-header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; }
  @media (min-width: 48rem) {
    .page-header__logo {
      top: 0; } }

.page-header__toggle-menu {
  position: absolute;
  top: 0.9375rem;
  right: 1.25rem; }
  .page-header__toggle-menu.active .page-header__icon-menu,
  .page-header__toggle-menu .page-header__icon-cross {
    display: none; }
  .page-header__toggle-menu.active .page-header__icon-cross {
    display: block;
    fill: #fff; }
  @media (min-width: 48rem) {
    .page-header__toggle-menu {
      display: none; } }

.page-header__icon-menu,
.page-header__icon-cross {
  width: 1.4375rem;
  height: 1.4375rem;
  fill: #81b3d2; }

.page-header__intro {
  position: relative;
  min-height: 24.375rem;
  text-align: center;
  background-color: #81b3d2;
  background-image: url("../img/background/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-header__intro {
      background-image: url("../img/background/bg-back-mobile@2x.jpg");
      background-size: 43.75rem auto; } }
  @media (min-width: 48rem) {
    .page-header__intro {
      min-height: 33.125rem;
      background-image: url("../img/background/bg-back-desktop@1x.jpg"); } }

.page-header__title-img {
  width: 17.625rem;
  height: 13.375rem;
  fill: inherit; }
  @media (min-width: 48rem) {
    .page-header__title-img {
      width: 28.75rem;
      height: 21.875rem;
      fill: inherit; } }

.page-header__intro:after {
  content: "";
  position: absolute;
  bottom: -0.0625rem;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 3.5625rem;
  background-image: url("../img/icons/bg-intro-triangle-mobile.svg");
  background-position: center bottom;
  background-size: cover; }
  @media (min-width: 30rem) {
    .page-header__intro:after {
      height: 3.5625rem;
      background-image: url("../img/icons/bg-intro-triangle-tablet.svg"); } }
  @media (min-width: 48rem) {
    .page-header__intro:after {
      background-image: url("../img/icons/bg-intro-triangle-desktop.svg"); } }

.reasons {
  position: relative;
  display: flex;
  flex-wrap: wrap; }
  @media (max-width: 48rem) {
    .reasons:after {
      content: "";
      position: absolute;
      top: -3.5625rem;
      left: 0;
      right: 0;
      height: 3.5625rem;
      background-image: url("../img/icons/bg-intro-triangle-tablet-blue.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; } }

.reasons__block {
  width: 100%; }

.reasons__block--nopicture {
  position: relative;
  padding: 0.625rem 1.25rem 1.25rem;
  color: #000;
  text-align: center;
  background-color: #eee; }
  @media (max-width: 48rem) {
    .reasons__block--nopicture:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 87.5%;
      height: 0.0625rem;
      background-color: #d6d6d6;
      transform: translateX(-50%); } }
  @media (min-width: 48rem) {
    .reasons__block--nopicture {
      width: 33%;
      flex-grow: 1;
      padding-top: 3.125rem;
      padding-bottom: 3.125rem; } }

@media (min-width: 48rem) {
  .reasons__wrap {
    display: flex;
    height: 16rem; } }

.reasons__content {
  padding: 2.8125rem 6%;
  font-size: 0.875rem;
  color: #fff;
  text-align: center;
  background-color: #81b3d2; }
  @media (min-width: 48rem) {
    .reasons__content {
      width: 33%; }
      .reasons__content--right {
        order: 1; } }

.reasons__name {
  margin-bottom: 1.25rem;
  font-size: 1.3125rem;
  font-weight: 700; }
  @media (min-width: 48rem) {
    .reasons__name {
      padding: 0 20%; } }

.reasons__number {
  margin-bottom: 1.25rem; }

.reasons__text {
  line-height: 1.5; }

.reasons__picture {
  text-align: center;
  overflow: hidden; }
  @media (min-width: 48rem) {
    .reasons__picture {
      width: 67%; }
      .reasons__picture img {
        display: block;
        width: 100%; } }

.reasons__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.25rem 0; }

.reasons__item {
  position: relative;
  width: 100%;
  padding-right: 2.5rem;
  padding-left: 4.375rem; }
  @media (min-width: 48rem) {
    .reasons__item {
      width: 33.3%;
      padding: 6.875rem 3.125rem 3.75rem;
      text-align: center; } }

.reasons__item-title {
  font-size: 1.125rem;
  line-height: 1.4;
  font-weight: 700;
  color: #000; }
  @media (min-width: 48rem) {
    .reasons__item-title {
      font-size: 1.3125rem; } }

.reasons__icon {
  position: absolute;
  top: 0.625rem;
  left: 1.25rem;
  width: 2.1875rem;
  height: 2.1875rem;
  fill: #81b3d2; }
  @media (min-width: 48rem) {
    .reasons__icon {
      top: 2.5rem;
      left: 50%;
      width: 4.6875rem;
      height: 4.6875rem;
      transform: translateX(-50%); } }

.socials {
  display: flex;
  justify-content: space-between;
  margin-left: -0.3125rem; }

.socials__link {
  position: relative;
  width: 3.125rem;
  height: 3.125rem;
  font-size: 0;
  margin-left: 0.3125rem;
  background-color: #81b3d2;
  transition: 0.4s; }
  .socials__link:hover {
    opacity: 0.5; }

.socials__link--twitter .socials__icon {
  width: 1.125rem;
  height: 0.9375rem;
  fill: #fff; }

.socials__link--youtube .socials__icon {
  width: 1.25rem;
  height: 0.9375rem;
  fill: #fff; }

.socials__link--facebook .socials__icon {
  width: 0.5625rem;
  height: 1.1875rem;
  fill: #fff; }

.title {
  max-width: 18.75rem;
  margin: 0 auto;
  padding: 3.125rem 0;
  color: #000;
  text-align: center; }
  @media (min-width: 48rem) {
    .title {
      max-width: 31.25rem; } }
  .title--bold h2 {
    font-size: 1.125rem;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 2.1875rem; }
  .title p {
    font-size: 0.875rem;
    line-height: 1.8; }

html {
  box-sizing: border-box;
  height: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  position: relative;
  min-width: 20rem;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  line-height: 1.5;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase; }

.wrapper {
  position: relative;
  display: table;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.6); }

.content {
  display: table-row;
  height: 100%; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

input,
textarea {
  border: none;
  outline: none; }

.visually-hidden {
  display: none; }

.page-header__title-img, .socials__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
