.page-header__title-img, .socials__icon, .video__volume-scale {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

html {
  box-sizing: border-box;
  height: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  position: relative;
  min-width: 20rem;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  line-height: 1.5;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase; }

.wrapper {
  position: relative;
  display: table;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.6); }

.content {
  display: table-row;
  height: 100%; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

input,
textarea {
  border: none;
  outline: none; }

.visually-hidden {
  display: none; }

.action {
  text-align: center;
  padding-bottom: 3.125rem; }
  @media (min-width: 48rem) {
    .action {
      padding-bottom: 4.375rem; } }

div.action__title {
  padding-top: 1.25rem; }

.action__map {
  width: 100%;
  height: 21.875rem; }

.btn, .form__submit {
  display: inline-block;
  width: 87.5%;
  max-width: 17.5rem;
  margin: 0 auto;
  padding: 1rem 0;
  font-size: 1.3125rem;
  line-height: 1.2;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background-color: #81b3d2;
  transition: 0.4s; }
  @media (min-width: 48rem) {
    .btn, .form__submit {
      max-width: 28.75rem; }
      .btn:hover, .form__submit:hover {
        background-color: #669ec0; }
      .btn:active, .form__submit:active {
        color: rgba(255, 255, 255, 0.3); }
      .btn:disabled, .form__submit:disabled {
        background-color: #f2f2f2; } }

.form {
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 48rem) {
    .form {
      width: 84%;
      margin: 0 auto; } }
  @media (min-width: 75rem) {
    .form {
      width: 80%; } }

.form__group {
  width: 100%;
  margin-bottom: 2.5rem;
  padding: 0.625rem 1.25rem;
  border: none;
  border-top: 0.0625rem solid #e5e5e5; }
  @media (min-width: 48rem) {
    .form__group {
      margin-bottom: 3.125rem;
      padding: 0;
      border: none; } }

.form__input-wrap {
  display: flex;
  flex-wrap: nowrap; }

.form__group--personal .form__input-wrap {
  -ms-grid-row-align: center;
      align-items: center; }

.form__group--personal .form__label {
  margin-right: 1.25rem; }

.form__group--personal .form__input-text {
  flex-grow: 1; }

@media (min-width: 48rem) {
  .form__group--impression,
  .form__group--personal {
    width: 50%;
    padding: 0;
    border: none; }
    .form__group--impression .form__group-title,
    .form__group--personal .form__group-title {
      margin-top: 0;
      text-align: left; }
      .form__group--impression .form__group-title span,
      .form__group--personal .form__group-title span {
        display: none; }
  .form__group--personal {
    padding-left: 3.75rem; }
  .form__group--impression {
    order: -1;
    border-right: 0.0625rem solid #e5e5e5; } }

.form__group--places .form__label,
.form__group--impression .form__label {
  position: relative;
  padding-left: 5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: none; }
  .form__group--places .form__label:before, .form__group--places .form__label:after,
  .form__group--impression .form__label:before,
  .form__group--impression .form__label:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 3.5rem;
    height: 3.5rem;
    background-color: #f2f2f2;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.3s; }
  .form__group--places .form__label:after,
  .form__group--impression .form__label:after {
    transform: translateY(-50%) scale(0); }
  .form__group--places .form__label:hover:before,
  .form__group--impression .form__label:hover:before {
    background-color: #e5e5e5; }
  .form__group--places .form__label:active:before,
  .form__group--impression .form__label:active:before {
    background-color: #d5d5d5; }

.form__group--impression .form__label:before, .form__group--impression .form__label:after {
  border-radius: 50%; }

.form__group--impression .form__label:after {
  left: 1.0625rem;
  width: 1.375rem;
  height: 1.375rem;
  background-color: #000; }

@media (min-width: 48rem) {
  .form__group--places .form__inner-places {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; } }
  @media (min-width: 48rem) and (max-width: 75rem) {
    .form__group--places .form__inner-places {
      justify-content: center;
      width: 62%;
      margin: 0rem auto; }
      .form__group--places .form__inner-places .form__input-wrap {
        flex-basis: 50%; } }

.form__group--places .form__label:before {
  border-radius: 0.3125rem; }

.form__group--places .form__label:after {
  left: 1rem;
  width: 1.5rem;
  height: 1rem;
  background-color: transparent;
  background-image: url("../img/icons/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center; }

.form__input-radio:checked + .form__label:after,
.form__input-checkbox:checked + .form__label:after {
  transform: translateY(-50%) scale(1); }

input[type="radio"],
input[type="checkbox"] {
  display: none; }

.form__group--impression .form__input-wrap,
.form__group--places .form__input-wrap {
  margin-bottom: 3.125rem; }

@media (min-width: 75rem) {
  .form__group--contacts .form__inner-contacts {
    display: flex;
    justify-content: space-between; } }

.form__group--contacts .form__input-wrap {
  position: relative;
  flex-direction: column;
  margin-top: 1.875rem; }
  .form__group--contacts .form__input-wrap:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3.625rem;
    height: 3.6875rem;
    background-color: #e6e6e6;
    background-image: url("../img/icons/icon-phone.svg");
    background-repeat: no-repeat;
    background-size: 1.125rem 1.125rem;
    background-position: center; }
  .form__group--contacts .form__input-wrap:last-child:after {
    background-image: url("../img/icons/icon-mail.svg"); }
  @media (min-width: 75rem) {
    .form__group--contacts .form__input-wrap {
      width: 45%; } }

.form__group--contacts .form__label {
  margin-left: 1.25rem;
  margin-bottom: 0.625rem; }
  .form__group--contacts .form__label span {
    display: none; }
    @media (max-width: 75rem) {
      .form__group--contacts .form__label span {
        display: inline; } }

.form__group--contacts .form__error {
  font-size: 0.875rem;
  line-height: 1.8;
  color: #ff5c5c;
  text-transform: none; }
  @media (min-width: 75rem) {
    .form__group--contacts .form__error {
      display: none; } }

textarea.form__input-text {
  width: 100%;
  height: 10rem;
  resize: none; }

@media (min-width: 48rem) {
  .form__group--contacts .form__group-title,
  .form__group--places .form__group-title,
  .form__group--message .form__group-title {
    position: relative; }
    .form__group--contacts .form__group-title:after,
    .form__group--places .form__group-title:after,
    .form__group--message .form__group-title:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      z-index: 1;
      height: 0.0625rem;
      background-color: #e5e5e5;
      transform: translateY(-50%); }
    .form__group--contacts .form__group-title div,
    .form__group--places .form__group-title div,
    .form__group--message .form__group-title div {
      position: relative;
      z-index: 1000;
      display: inline-block;
      padding: 0 4.375rem;
      background-color: #fff; } }

.form__group-title {
  margin-bottom: 2.5rem;
  font-size: 1.125rem;
  line-height: 1.4;
  font-weight: 700;
  color: #000;
  text-align: center; }
  @media (min-width: 48rem) {
    .form__group-title {
      font-size: 1.3125rem;
      margin-bottom: 5rem; } }

.form__input-wrap {
  margin-bottom: 1.25rem; }

.form__input-text {
  padding: 0.8125rem 1.25rem;
  font-size: 1.125rem;
  line-height: 1.4;
  font-weight: 700;
  color: #000;
  background-color: #f2f2f2;
  border: 0.25rem solid #f2f2f2;
  transition: 0.4s; }
  .form__input-text::-webkit-input-placeholder {
    color: #000; }
  .form__input-text:-ms-input-placeholder {
    color: #000; }
  .form__input-text::placeholder {
    color: #000; }
  .form__input-text:hover {
    background-color: #e5e5e5;
    border-color: #e5e5e5; }
  .form__input-text:focus {
    background-color: #fff; }

.form__submit {
  margin-bottom: 0.9375rem; }
  @media (min-width: 48rem) {
    .form__submit {
      margin-left: 0; } }

.form__note {
  display: none; }
  @media (min-width: 48rem) {
    .form__note {
      display: block; } }

@media (max-width: 48rem) {
  .gallery {
    border-top: 0.0625rem solid #e5e5e5; }
  .gallery__item {
    border-bottom: 0.0625rem solid #e5e5e5; }
  .gallery__link,
  .gallery__photo-content {
    width: 17.5rem; } }

@media (min-width: 48rem) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    width: 40.5rem;
    margin: 0 auto; } }

@media (min-width: 75rem) {
  .gallery {
    width: 100%; } }

.gallery__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 1.25rem 0; }
  @media (min-width: 48rem) {
    .gallery__item {
      -ms-grid-row-align: flex-start;
          align-items: flex-start;
      width: 50%;
      padding: 0; }
      .gallery__item--full {
        width: 100% !important; }
        .gallery__item--full .gallery__link {
          height: 25rem; } }
  @media (min-width: 75rem) {
    .gallery__item {
      width: 33.333%; } }

.gallery__link {
  height: 17.5rem;
  overflow: hidden; }
  @media (min-width: 48rem) {
    .gallery__link {
      height: 16.6875rem; } }
  .gallery__link img {
    display: block;
    max-width: 100%; }

.gallery__photo-content {
  position: relative;
  font-size: 0.875rem;
  line-height: 1.7;
  color: #000; }
  @media (min-width: 48rem) {
    .gallery__photo-content {
      width: 100%;
      padding: 0 1.25rem;
      background-color: #f2f2f2; } }
  @media (max-width: 75rem) {
    .gallery__photo-content:nth-child(2n+1) .gallery__photo-content {
      background-color: #eaeaea; } }
  @media (min-width: 75rem) {
    .gallery__photo-content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.3); } }

.gallery__photo-title {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 700; }

.gallery__photo-author {
  margin-top: 0;
  text-transform: none; }

.gallery__photo-likes {
  font-size: 0; }
  @media (min-width: 48rem) {
    .gallery__photo-likes {
      position: absolute;
      top: 50%;
      right: 1.875rem;
      transform: translateY(-50%); } }

.gallery__icon-likes {
  display: inline-block;
  vertical-align: top;
  width: 1.375rem;
  height: 1.25rem;
  fill: #b2b2b2; }
  @media (min-width: 75rem) {
    .gallery__icon-likes {
      fill: #fff; } }

.gallery__count-likes {
  margin-left: 0.9375rem;
  font-size: 0.875rem;
  font-weight: 700; }

.main-nav {
  position: relative;
  display: none; }
  .main-nav.active {
    display: block; }
  .main-nav.no-js {
    display: block; }
  @media (min-width: 48rem) {
    .main-nav {
      display: flex;
      justify-content: space-between; } }

@media (min-width: 48rem) {
  .main-nav__list {
    display: flex;
    width: 40%; }
  .main-nav__item {
    width: 50%; } }

.main-nav__link {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.125rem;
  line-height: 2;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background-color: #81b3d2;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0.0625rem 0.0625rem 0 rgba(255, 255, 255, 0.3); }
  .main-nav__link.active {
    color: #766357; }
    .main-nav__link.active:hover {
      color: #604e43; }
    .main-nav__link.active:active {
      opacity: 0.3; }
  .main-nav__list:last-of-type .main-nav__item:last-of-type .main-nav__link {
    border: none;
    box-shadow: inset 0 -0.1875rem 0.625rem 0 rgba(0, 0, 0, 0.2); }
  @media (min-width: 48rem) {
    .main-nav__link {
      font-size: 0.875rem;
      line-height: 3;
      color: #000;
      background-color: #fff;
      border: none;
      box-shadow: none !important;
      transition: 0.4s; }
      .main-nav__link:hover {
        color: #81b3d2; }
      .main-nav__link:active {
        color: #b2b2b2; } }

.modal {
  position: fixed;
  top: 45%;
  left: 50%;
  z-index: 99999;
  display: none;
  width: 25rem;
  text-align: center;
  background-color: #fff;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.4375rem 0.9375rem 0 rgba(0, 0, 0, 0.15);
  opacity: 0; }

.modal__header,
.modal__content {
  padding: 0 4.0625rem;
  margin-bottom: 1.875rem; }

.modal__header {
  padding-top: 3.4375rem; }

.modal__title {
  font-size: 1.875rem;
  line-height: 1.3;
  font-weight: 700; }

.modal__footer {
  padding: 0 4.0625rem 2.8125rem; }
  .modal__footer--gray {
    padding-top: 2.8125rem;
    background-color: #f2f2f2; }

.modal__btn {
  width: 100%; }

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); }

.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.1875rem 0;
  background-color: #fff; }
  @media (min-width: 48rem) {
    .page-footer {
      flex-direction: row;
      justify-content: space-around; } }

.page-footer__text {
  font-size: 1.3125rem;
  line-height: 1.2;
  font-weight: 700;
  text-align: center; }

.page-footer__copyright a {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.3125rem;
  font-size: 0; }
  @media (min-width: 48rem) {
    .page-footer__copyright a:hover .page-footer__copyright-icon {
      fill: #81b3d2; }
    .page-footer__copyright a:active .page-footer__copyright-icon {
      fill: #b2b2b2; } }

.page-footer__copyright-icon {
  width: 1.625rem;
  height: 2.125rem;
  fill: #000;
  transition: 0.4s; }

.page-header__top {
  position: relative;
  padding-bottom: 3.5rem;
  background-color: #fff; }
  @media (min-width: 48rem) {
    .page-header__top {
      padding: 0; } }

.page-header__logo,
.page-header__toggle-menu {
  font-size: 0; }

.page-header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; }
  @media (min-width: 48rem) {
    .page-header__logo {
      top: 0; } }

.page-header__toggle-menu {
  position: absolute;
  top: 0.9375rem;
  right: 1.25rem; }
  .page-header__toggle-menu.active .page-header__icon-menu,
  .page-header__toggle-menu .page-header__icon-cross {
    display: none; }
  .page-header__toggle-menu.active .page-header__icon-cross {
    display: block;
    fill: #fff; }
  @media (min-width: 48rem) {
    .page-header__toggle-menu {
      display: none; } }

.page-header__icon-menu,
.page-header__icon-cross {
  width: 1.4375rem;
  height: 1.4375rem;
  fill: #81b3d2; }

.page-header__intro {
  position: relative;
  min-height: 24.375rem;
  text-align: center;
  background-color: #81b3d2;
  background-image: url("../img/background/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-header__intro {
      background-image: url("../img/background/bg-back-mobile@2x.jpg");
      background-size: 48rem auto; } }
  @media (min-width: 48rem) {
    .page-header__intro {
      min-height: 33.125rem;
      background-image: url("../img/background/bg-back-desktop@1x.jpg"); } }

.page-header__title-img {
  width: 17.625rem;
  height: 13.375rem;
  fill: inherit; }
  @media (min-width: 48rem) {
    .page-header__title-img {
      width: 28.75rem;
      height: 21.875rem;
      fill: inherit; } }

.page-header__intro:after {
  content: "";
  position: absolute;
  bottom: -0.0625rem;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 3.5625rem;
  background-image: url("../img/icons/bg-intro-triangle-mobile.svg");
  background-position: center bottom;
  background-size: cover; }
  @media (min-width: 30rem) {
    .page-header__intro:after {
      height: 3.5625rem;
      background-image: url("../img/icons/bg-intro-triangle-tablet.svg"); } }
  @media (min-width: 48rem) {
    .page-header__intro:after {
      background-image: url("../img/icons/bg-intro-triangle-desktop.svg"); } }

.reasons {
  position: relative;
  display: flex;
  flex-wrap: wrap; }
  @media (max-width: 48rem) {
    .reasons:after {
      content: "";
      position: absolute;
      top: -3.5625rem;
      left: 0;
      right: 0;
      height: 3.5625rem;
      background-image: url("../img/icons/bg-intro-triangle-tablet-blue.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; } }

.reasons__block {
  width: 100%; }

.reasons__block--nopicture {
  position: relative;
  padding: 0.625rem 1.25rem 1.25rem;
  color: #000;
  text-align: center;
  background-color: #eee; }
  @media (max-width: 48rem) {
    .reasons__block--nopicture:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 87.5%;
      height: 0.0625rem;
      background-color: #d6d6d6;
      transform: translateX(-50%); } }
  @media (min-width: 48rem) {
    .reasons__block--nopicture {
      width: 33%;
      flex-grow: 1;
      padding-top: 3.125rem;
      padding-bottom: 3.125rem; } }

@media (min-width: 48rem) {
  .reasons__wrap {
    display: flex;
    height: 16rem; } }

.reasons__content {
  padding: 2.8125rem 6%;
  font-size: 0.875rem;
  color: #fff;
  text-align: center;
  background-color: #81b3d2; }
  @media (min-width: 48rem) {
    .reasons__content {
      width: 33%; }
      .reasons__content--right {
        order: 1; } }

.reasons__name {
  margin-bottom: 1.25rem;
  font-size: 1.3125rem;
  font-weight: 700; }
  @media (min-width: 48rem) {
    .reasons__name {
      padding: 0 20%; } }

.reasons__number {
  margin-bottom: 1.25rem; }

.reasons__text {
  line-height: 1.5; }

.reasons__picture {
  text-align: center;
  overflow: hidden; }
  @media (min-width: 48rem) {
    .reasons__picture {
      width: 67%; }
      .reasons__picture img {
        display: block;
        width: 100%; } }

.reasons__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.25rem 0; }

.reasons__item {
  position: relative;
  width: 100%;
  padding-right: 2.5rem;
  padding-left: 4.375rem; }
  @media (min-width: 48rem) {
    .reasons__item {
      width: 33.3%;
      padding: 6.875rem 3.125rem 3.75rem;
      text-align: center; } }

.reasons__item-title {
  font-size: 1.125rem;
  line-height: 1.4;
  font-weight: 700;
  color: #000; }
  @media (min-width: 48rem) {
    .reasons__item-title {
      font-size: 1.3125rem; } }

.reasons__icon {
  position: absolute;
  top: 0.625rem;
  left: 1.25rem;
  width: 2.1875rem;
  height: 2.1875rem;
  fill: #81b3d2; }
  @media (min-width: 48rem) {
    .reasons__icon {
      top: 2.5rem;
      left: 50%;
      width: 4.6875rem;
      height: 4.6875rem;
      transform: translateX(-50%); } }

.socials {
  display: flex;
  justify-content: space-between;
  margin-left: -0.3125rem; }

.socials__link {
  position: relative;
  width: 3.125rem;
  height: 3.125rem;
  font-size: 0;
  margin-left: 0.3125rem;
  background-color: #81b3d2;
  transition: 0.4s; }
  .socials__link:hover {
    background-color: #669ec0; }
  .socials__link:active .socials__icon {
    opacity: 0.3; }

.socials__link--twitter .socials__icon {
  width: 1.125rem;
  height: 0.9375rem;
  fill: #fff; }

.socials__link--youtube .socials__icon {
  width: 1.25rem;
  height: 0.9375rem;
  fill: #fff; }

.socials__link--facebook .socials__icon {
  width: 0.5625rem;
  height: 1.1875rem;
  fill: #fff; }

.title {
  max-width: 18.75rem;
  margin: 0 auto;
  padding: 3.125rem 0;
  color: #000;
  text-align: center; }
  @media (min-width: 48rem) {
    .title {
      max-width: 31.25rem; } }
  .title--bold h2 {
    font-size: 1.125rem;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 2.1875rem; }
    @media (min-width: 48rem) {
      .title--bold h2 {
        font-size: 1.875rem; } }
  .title p {
    font-size: 0.875rem;
    line-height: 1.8; }

.video {
  position: relative;
  width: 100%;
  max-width: 20rem;
  margin: 0 auto; }
  @media (min-width: 48rem) {
    .video {
      max-width: 40.5rem; } }
  @media (min-width: 75rem) {
    .video {
      max-width: 50rem; } }

.video__screen {
  display: block;
  width: 100%;
  height: 12.5rem;
  background-color: #b39998;
  background-image: url("../img/background/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .video__screen {
      background-image: url("../img/background/video-mobile@2x.jpg");
      background-size: 20rem auto; } }
  @media (min-width: 48rem) {
    .video__screen {
      height: 31.25rem;
      background-image: url("../img/background/video-tablet@1x.jpg"); } }
  @media (min-width: 75rem) {
    .video__screen {
      background-image: url("../img/background/video-desktop@1x.jpg"); } }

.video__play-controls {
  position: relative;
  width: 17.5rem;
  height: 4.125rem;
  margin: 0 auto;
  background-color: #f2f2f2; }
  @media (min-width: 48rem) {
    .video__play-controls {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5.75rem;
      background-color: rgba(0, 0, 0, 0.6); } }

.video__volume-bar {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 2.8125rem;
  padding: 0 1.4375rem;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10; }
  @media (min-width: 48rem) {
    .video__volume-bar {
      bottom: 0;
      height: 100%;
      background-color: transparent; } }

.video__volume-scale {
  width: 14.6875rem;
  height: 0.1875rem;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer; }
  @media (min-width: 48rem) {
    .video__volume-scale {
      width: 24.3125rem; } }
  @media (min-width: 75rem) {
    .video__volume-scale {
      width: 33.75rem; } }

.video__volume-slider {
  position: absolute;
  top: 50%;
  left: 30%;
  width: 0.625rem;
  height: 0.625rem;
  font-size: 0;
  background-color: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  cursor: pointer; }

.video__btn {
  position: absolute;
  top: 50%;
  z-index: 100;
  padding: 0;
  font-size: 0;
  background-color: transparent;
  border: none;
  outline: none;
  transform: translateY(-50%);
  cursor: pointer; }
  .video__btn:hover .video__icon {
    fill: #333333; }
  .video__btn:active .video__icon {
    opacity: 0.3; }

.video__btn-replay {
  left: 1.4375rem; }

.video__btn-subtitles {
  right: 4.625rem; }

.video__btn-fullscreen {
  right: 1.4375rem; }

.video__icon-replay {
  width: 1rem;
  height: 1.25rem;
  fill: inherit; }

.video__icon-subtitles {
  width: 2rem;
  height: 1.25rem;
  fill: inherit; }

.video__icon-fullscreen {
  width: 1.25rem;
  height: 1.25rem;
  fill: inherit; }

.video__icon {
  fill: #5c6870;
  transition: 0.4s; }
  @media (min-width: 48rem) {
    .video__icon {
      fill: #fff; } }

html {
  box-sizing: border-box;
  height: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  position: relative;
  min-width: 20rem;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  line-height: 1.5;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase; }

.wrapper {
  position: relative;
  display: table;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.6); }

.content {
  display: table-row;
  height: 100%; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

input,
textarea {
  border: none;
  outline: none; }

.visually-hidden {
  display: none; }

.page-header__title-img, .socials__icon, .video__volume-scale {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
