.btn {
	display: inline-block;
	width: 87.5%;
	max-width: 280px;
	margin: 0 auto;
	padding: 16px 0;
	font-size: 21px;
	line-height: 1.2;
	font-weight: 700;
	color: $color-light;
	text-align: center;
	background-color: $blue;
	transition: 0.4s;

	@include tablet {
		max-width: 460px;

		&:hover {
			background-color: #669ec0;
		}

		&:active {
			color: rgba(#fff, 0.3);
		}

		&:disabled {
			background-color: $bg-input;
		}
	}
}
