.modal {
	position: fixed;
	top: 45%;
	left: 50%;
	z-index: 99999;
	display: none;
	width: 400px;
	text-align: center;
	background-color: #fff;
	transform: translate(-50%, -50%);
	box-shadow: 0 7px 15px 0 rgba(#000, 0.15);
	opacity: 0;
}

.modal__header,
.modal__content {
	padding: 0 65px;
	margin-bottom: 30px;
}

.modal__header {
	padding-top: 55px;
}

.modal__title {
	font-size: 30px;
	line-height: 1.3;
	font-weight: 700;
}

.modal__footer {
	padding: 0 65px 45px;

	&--gray {
		padding-top: 45px;
		background-color: #f2f2f2;
	}
}

.modal__btn {
	width: 100%;
}

