.page-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 0;
	background-color: #fff;

	@include tablet {
		flex-direction: row;
		justify-content: space-around;
	}
}

.page-footer__text {
	font-size: 21px;
	line-height: 1.2;
	font-weight: 700;
	text-align: center;
}

.page-footer__copyright a {
	@include i-b(middle);
	margin-left: 5px;
	font-size: 0;

	@include tablet {
		&:hover .page-footer__copyright-icon {
			fill: $blue;
		}

		&:active .page-footer__copyright-icon {
			fill: #b2b2b2;
		}
	}
}

.page-footer__copyright-icon {
	@include svg(26px, 34px, #000);
	transition: 0.4s;
}
