.title {
	max-width: 300px;
	margin: 0 auto;
	padding: 50px 0;
	color: $color-dark;
	text-align: center;

	@include tablet {
		max-width: 500px;
	}

	&--bold h2 {
		font-size: 18px;
		line-height: 1.4;
		font-weight: 700;
		margin-bottom: 35px;

		@include tablet {
			font-size: 30px;
		}
	}

	& p {
		font-size: 14px;
		line-height: 1.8;
	}
}
